:root {
  --color-blue: #151557;
  --color-purple: #8040ff;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
}

body {
  color: var(--color-blue);
  width: 100vw;
  height: 100vh;
  background: black;
}

.container {
  background: #d9dddc;
  padding: 4rem;
}

.header-container{
  margin: 2rem 0;
  text-transform: uppercase;
}

.main-header{
  font-size: 3rem;
  font-weight: bold;
  margin-right: 1rem;
}

.sub-header{
  font-size: 1.5rem;
  margin-left: 1rem;
  color: purple;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.preview-container {
    flex: 0 0 40rem;
    height: 40rem;
    width: 40rem;
    position: relative;
    margin: 0 3rem 3rem 0;
  }

.pos-abs {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pos-abs img {
  width: 100%;
  height: 100%;
}

.selection {
  flex: 1 0 40rem;
}

.buttons-container {
  margin-bottom: 2.5rem;
}

.buttons-container h1 {
  margin-bottom: 1rem;
}

.btn {
  cursor: pointer;
}

.btn-md {
    background-color: transparent;
    color: #6969db;
    border: 1px solid #6969db;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-right: 1rem;
    min-width: 8rem;
    text-transform: capitalize;
    margin-bottom: 1rem;

}

.btn-md:hover {
  border-color: var(--color-purple);
  color: var(--color-purple);
  text-shadow: 0px 0px 1px;
}

.btn-active, .btn-active:hover {
  background-color: var(--color-purple);
  color: #fff;
  text-shadow: 0px 0px 0px;
}

.command-buttons {
  display: flex;
  width: 40rem;
  justify-content: space-around
}

.btn-lg {
  text-transform: capitalize;
  font-weight: bold;
  background: lightblue;
  box-sizing: border-box;
  padding: 1rem 3rem;
  color: lightslategrey;
  border-radius: 3rem;
}

.btn-lg:hover {
  box-shadow: 0 0 5px purple;
  color: darkblue;
}

.btn-lg svg {
  margin-right: 0.5rem;
}








